.about-modal {
  opacity: 0;
  overflow-y: scroll;
  position: absolute;

  &.active {
    background: $white;
    left: 0;
    opacity: 1;
    padding: 3em 3% 3%;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2000;

    @media (min-width: 700px) {
      border-radius: 5px;
      bottom: auto;
      left: 50%;
      max-height: 80vh;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 700px;
    }
  }
}

.about-close {
  background: $blue;
  border: 2px solid darken($blue, 20);
  border-radius: 5px;
  color: $white;
  font-size: 1.2em;
  padding: 7px;
  position: fixed;
  right: 10px;
  top: 10px;
}

.about-background {

  &.active {
    background: $backdrop;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1999;
  }
}

.about-button {
  background: $white;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 5px $shadow;
  padding: 5px 9px;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 1000;
}
