.gallery-container {
  background: white;
  border-radius: 5px;
  bottom: 10px;
  left: 10px;
  position: fixed;
  right: 10px;
  transition: transform .5s ease;
  z-index: 401;

  &.gallery-hidden {
    transform: translateY(100%);

    .gallery-toggle::after {
      content: '\25B2';
    }
  }
}

.gallery-list {
  list-style: none;
  margin: 0;
  overflow-x: scroll;
  padding: 1em;
  white-space: nowrap;
}

.gallery-item {
  display: inline-block;
  margin-right: 15px;

  img {
    margin: auto;
  }
}

.gallery-toggle {
  background: white;
  border: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  top: -23px;
  left: 5px;

  &::after {
    content: '\25BC';
  }
}

.teaser {
  margin: auto;
  max-width: 200px;
  text-align: center;

  p {
    margin-top: 0;
    white-space: normal;
  }
}
