#map {
  height: 100vh;
  width: 100%;
}

.zoom-to-full-extent {
  background: white;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  left: 10px;
  padding: 3px;
  position: fixed;
  top: 77px;
}

.full-extent-img {
  height: 23px;
  margin-bottom: -4px;
  width: 23px;
}
