.splash-screen {
  height: 0;
  overflow-y: scroll;
  position: absolute;

  &.active {
    background: $white;
    background-size: cover;
    height: auto;
    left: 0;
    padding: 3%;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2000;

    @media (min-width: 700px) {
      border-radius: 5px;
      bottom: auto;
      left: 50%;
      max-height: 80vh;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 700px;
    }
  }
}

.splash-close {
  background: $blue;
  border: 2px solid darken($blue, 20);
  border-radius: 5px;
  color: $white;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 7px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.splash-background {
  &.active {
    background: $backdrop;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1999;
  }
}

.splash-content {
  img {
    display: block;
    margin: auto;
  }
}

.dont-show-again {
  margin-right: 10px;
}
