.smart-planning {
  background: #CC0000;
  color: white;
}

.saving-dollars-and-improving-efficiencies {
  background: #009900;
  color: white;
}

.building-on-existing-partnerships {
  background: #000099;
  color: white;
}

.achieving-conservation {
  background: #010;
  color: white;
}
