.smart-planning {
  background: rgba(255, 104, 29, .7);
  color: white;
}

.saving-dollars-and-improving-efficiencies {
  background: rgba(0, 175, 67, .7);
  color: white;
}

.building-on-existing-partnerships {
  background: rgba(0, 51, 161, .7);
  color: white;
}

.achieving-conservation {
  background: rgba(158, 40, 181, .7);
  color: white;
}
