h2 About this map
p A bunch of introductory text

h3 Map data
ul
  li Tiles courtesy of #[a(href="http://openstreetmap.se/", target="_blank") OpenStreetMap Sweden]</a> &mdash; Map data &copy; #[a(href="http://www.openstreetmap.org/copyright", target="_blank") OpenStreetMap]
  li #[a(href="https://www.sciencebase.gov/catalog/item/55b943ade4b09a3b01b65d78", target="_blank") Landscape Conservation Cooperatives]
  li #[a(href="https://www.sciencebase.gov/catalogMaps/mapping/ows/55c3cc5ce4b033ef52106c72?service=wms&request=getcapabilities&version=1.3.0", target="_blank") Grassland Decision Support Tool]
  li #[a(href="", target="_blank") Wetland migration project] ** Need to provide as a zip
  li #[a(href="", target="_blank") Interior least tern project] ** Need to provide as a zip
  li #[a(href="http://ecosystems.usgs.gov/fishhabitat/viewdataset.jsp?sbid=531e185de4b04cb293ee7935", target="_blank") Southeast Aquatic Resources Partnership]

h3 Source Code
p The code used to create this map is in the #[a(href="https://en.wikipedia.org/wiki/Public_domain") public domain].  Learn more by visiting this project's #[a(href="https://github.com/USFWS/secas-story-map") GitHub repository].
