div.about-content
  h2 About this map

  h3 Basemap data
  p The basemap tiles are courtesy of &copy; #[a(href="http://www.thunderforest.com/", target="_blank") Thunderforest], &copy; #[a(href="http://www.openstreetmap.org/copyright", target="_blank") OpenStreetMap]

  h3 Source Code
  p The code used to create this map is in the #[a(href="https://en.wikipedia.org/wiki/Public_domain") public domain].  Learn more by visiting this project's #[a(href="https://github.com/USFWS/secas-story-map") GitHub repository].
