div.info-window-photo
  img(src="./images/photos/" + project.photo, alt="")
  p.info-window-caption= project.caption
div.project-description
  h2= project.title
  p= project.description
  p
    a(href=project.url) Read more...
