each item in galleryItems
  li.gallery-item(data-name=item.properties.title)
    div.teaser
      img(src="./images/photos/thumbnail/" + item.properties.photo, alt="Placeholder image")
      p= item.properties.title
