div.splash-content
  h1 Splash Screen
  p This is the most important information that the user needs in order to understand this map and how it fits with SECAS.

  p We can have this screen open every time the user visits the map, or give an option to "don't show this next time."

  p We can include images, too.

  img(src="./images/photos/gcp-lcc-nobo.jpg")
