div.splash-content
  h1 Southeast Conservation Adaptation Strategy Story Map
  p The Southeast Conservation Adaptation Strategy (SECAS) is a shared, long-term vision for the conservation future of the Southeast and Caribbean region of the United States. Through SECAS, diverse partners are working together to design and achieve a connected network of landscapes and seascapes that supports thriving fish and wildlife populations and improved quality of life for people. By stitching together the work of the Landscape Conservation Cooperatives (LCCs) at a larger scale, SECAS helps coordinate the efforts of federal, state, non-profit, and private organizations to prioritize conservation action and investment. This Story Map highlights many of the projects developing critical data and tools that build a strong foundation for the SECAS vision, as well as collaborative successes that help make that vision a reality.

  p The SECAS effort was initiated by states of the Southeast Association of Fish & Wildlife Agencies and the federal Southeast Natural Resource Leaders Group, with support from Landscape Conservation Cooperatives of the Southeast as well as the Southeast Aquatic Resources Partnership.

  form
    input(type="checkbox" class="dont-show-again")
    label Do not show this message again
